* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body, #root, .fifa-search {
	height: 100%;
}

body {
	background: #f1f1f1;
	font-family: sans-serif;
	letter-spacing: .5px;
}

.search-form-wrapper {
	padding: 1em;
	text-align: center;

	form {
		margin: 0 auto;
		max-width: 800px;
		width: 100%;
	}

	input {
		font-size: 1.5em;
		border: 0;
		outline: 0;
		line-height: 1.5em;
		padding: .5em 1em;
	}

	input[type=text] {
		background: #fafafa;
		border: solid 1px #dce0e0;
		width: calc(100% - 200px);
	}

	input[type=submit] {
		background: crimson;
		border: solid 1px crimson;
		color: white;
		cursor: pointer;
		width: 200px;
	}
}

.search-result-wrapper {
	height: calc(100% - 100px);
	min-height: 300px;
	overflow: auto;
}

.loader-wrapper, .error-wrapper {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

.loader-wrapper {
	
	.loader-circle {
		animation: rotate 1.5s linear infinite;
	    border-radius: 50%;
	    border: solid 8px #eee;
	    border-left-color: #ccc;
	    box-shadow: 0 0 40px rgba(255,255,255,.5);
	    background: #f1f1f1;
	    height: 80px;
	    margin: 0 auto;
	    width: 80px;

	}
}


@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}